<div class="page">
    <h2 class="page-title">Cadastro</h2>
    <h4 class="page-description">Formulario de Cadastro</h4>
</div>

<div class="user">
    <figure class="image">
        <img class="image-item" src="img/user.png" alt="">
    </figure>
    <form class="form">
        <input type="text" autocomplete="false" name="name" placeholder="Nome">
        <input type="text" name="id" hidden>
        <input type="text" name="phone" placeholder="Telefone">
        <input type="text" name="email" placeholder="E-mail">
        <input type="file" hidden id="file" accept="image/*" >
        <button id="btn-cadastro">Cadastrar</button>
    </form>
</div>

