<div class="page">
    <h2 class="page-title">Contatos</h2>
    <h4 class="page-description">Lista de Contatos</h4>
</div>
    
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Serviços</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
